# ----------------------------
# Python
# ----------------------------
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# ----------------------------
# Node
# ----------------------------
Frontend/node_modules/
Frontend/dist/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Uploads (Resume PDFs)
# ----------------------------
Backend/uploads/

# ----------------------------
# Logs
# ----------------------------
*.log