   /* NAVBAR */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.04);
    z-index: 1000;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
}
.nav-container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* Logo */

.logo{
    font-size: 22px;
    font-weight: 800;
    color: #1f2343;
    cursor: pointer;
    letter-spacing: .5px;
}

.logo span{
    color: #5E936C;
}

/* Links */

.nav-links{
    display: flex;
    gap: 28px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.nav-links a:hover{
    color: #5E936C;
}

/* Buttons */

.nav-buttons{
    display: flex;
    gap: 15px;
}

/* Responsive */

@media (max-width:900px){

    .nav-container{
        flex-direction: column;
        gap: 18px;
    }

    .nav-links{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

}